/* board 6 --> width 460, 8 --> width 576, 4 --> width 288 */
html{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


div#tableroDeMemoria {
    background:coral;
    border:#999 1px solid;
    width:288px; 
    height:290px;
    padding:20px;
    float: left;  
    margin-left: 300px; 
    margin-top: 0%;
}

div#buscar div#mosaicocorrectodeltablero  {
    width: 186px;
    height: 180px;
    position: absolute;
    left: 490px;
    top: 215px 
}

div#tableroDeMemoria div{
    background: url(img/logo.jpg) no-repeat;
    border:#000 1px solid;
    width:66px;
    height:66px;
    float:left;
    margin:2px;
    padding:0px;
    cursor:pointer;   
}

div#tableroDeMemoria img{
    width:66px;
    height:66px;
}

div#buscar div#mosaicocorrectodeltablero img {
    z-index: 10px;
    width:185px;
    height:190px;  
    margin-left: 542px;
    margin-top: 86%;
}

div#buscar img {
    width: 490px;
    height: 395px;
    position: absolute;
}


div#listaJugadores {
    height: 182px;
    margin-top: 10%;
}

.icofont-refresh {
    font-size: 20px;
} 

.titulo{
    margin-left: 38%;
    width: 22%;
    height: 1%;
    margin-top: 2%;
  
}

#numeroDeRobots{
    width: 3%;
    border-radius: 2px;
    text-align: center;
}


#Dificultad{
    width: 4%;
    border-radius: 2px;
    text-align: center;
    margin-left: 2%;
}

#numeroDeJugadores{
    width: 3%;
    border-radius: 2px;
    text-align: center;
    margin-top: 0%;
}

#tamanoTablero{
    width: 7%;
    border-radius: 2px;
    text-align: center;

}

#categoriaCartas{
    width: 9%;
    border-radius: 2px;
    text-align: center;
}

#reiniciar{
float: right;
width: 5%;
height: 25px;
margin-right: 2%;
background-color: #98C7FF;
border-color: #98C7FF;
border-radius: 2px;
}

#ranking{
float: right;
width: 5%;
height: 25px;
background-color: #AFD88F;
border-color: #AFD88F;
border-radius: 2px;
}

#ayuda{
float: right;
width: 5%;
height: 25px;
background-color: #F6C6D8;
border-color: #F6C6D8;
border-radius: 2px;
}

.navbar{
    margin: 0;
}

table{
    margin-top: 1%;
}